<h1>Afegeix un joc nou</h1>
<section class="lil-form-container">
  <%= form_for @game do |f| %>
    <%= f.label :title, "Títol" %>
    <%= f.text_field :title, class: "form-control" %><br />
    <%= f.label :game_type, "Tipus de joc" %>
    <%= f.text_field :game_type, class: "form-control" %><br />
    <%= f.submit "Afegir", :disable_with => 'Afegint...', class: "btn btn-primary" %>
  <% end %>
</section>