<h1>Partides de <%= @game.title %></h1>
<table class="table table-responsive table-striped table-hover">
  <tr>
    <th>Data</th>
    <th>Durada</th>
    <th>Jugadors</th>
    <th>Accions</th>
  </tr>
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.beautified_created_at %></td>
        <td><%= display_duration_or_opened match %></td>
        <td><%= display_players_for match %></td>
        <td><%= link_to_reopen_or_close match %> | 
        <%= link_to "Elimina-la", game_match_path(match.game_id, match.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>