<h1>Crea una nova partida</h1>
<section class="lil-form-container">
  <%= form_for [@game, @match] do |f| %>
    <%= f.label :players, "Jugadors" %> 
    <br />
    <div id="from" ondrop="dropIt(event);" ondragover="event.preventDefault();">
      <% @players.each do |player| %>
        <span draggable="true" ondragstart="dragIt(event);" class="player" id="<%= player.id%>"><%= player.name%></span>
      <% end %>
    </div>
    <div id="to" ondrop="dropIt(event);" ondragover="event.preventDefault();">
    </div>
    <%= f.submit "Començar la partida", :disable_with => 'Afegint jugadors...', class: "btn btn-primary" %>
  <% end %>
</section>