<!DOCTYPE html>
<html>
<head>
  <title>ALSFr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav nav-pills nav-stacked">
    <li class="<%= make_active_if_it_matches "/" %>"><a href="/">Marcador</a></li>
    <li class="<%= make_active_if_it_matches "/games" %>"><a href="/games">Llistat de jocs</a></li>
    <li class="<%= make_active_if_it_matches "/all_matches" %> <%= make_active_if_it_matches "/all_matches?tab=closed" %>"><a href="/all_matches">Partides</a></li>
    <li class="<%= make_active_if_it_matches "/tags" %>"><a href="/tags">N&uacute;vol de tags</a></li>
    <li class="<%= make_active_if_it_matches "/players/new" %>"><a href="/players/new">Afegir jugador</a></li>
    <li class="<%= make_active_if_it_matches "/games/new" %>"><a href="/games/new">Afegir joc</a></li>
  </ul>
  <article class="main">
    <%= yield %>
  </article>
</body>
</html>
